@import "styles.css";

* {
	color: black !important;
}

body{
	font-family: serif;
	font-size: 12pt;
	line-height: 1;
	margin: 0px;
	padding: 0px;
}

ul.xoxo, #respond, #access, #searchcontainer, #topheader, .reply , .sharebuttonsanywhere, #promobar, #primarynav, .jumptocomments, .printfriendly, #footer, .menu-primary-navigation-container, .breadcrumbs, #searchblock, .visible-phone, #ourvalues, #contentOverlay, #navigation{
	display: none !important;
}

.quick-links li:first-child{
	display: inline-block;
	float: left;
	font-size: 14pt;
	border: 0px solid white;
}

.quick-links li a:after{
	content: none;
}

.quick-links li{
	display: none;
}

p.printonlyheadline {
	font-size: 2em;
	position: static !important;
	top: 0;
	left: 0 !important;
	font-weight: bold;
	padding: 0.5em 0;
}

#mainlogo{
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: -15px;
	right: 0px;
	float: right;
	display: inline-block;
}
#mainlogo a:after{
	content: none;
}

#content a:link:after, #content a:visited:after, #sidebar a:link:after, #sidebar a:visited:after { 
	content:" [" attr(href) "] "; 
}
